
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE

========================================================  */



/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/

/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    background: url(../img/home.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(35, 133, 161,0.75); /*.75 opacity of the color so that background image is visible*/
        min-height: 600px;
        color: #fff;
    }

    #home h1 {
        padding-top: 80px;
        font-weight: 900;
        font-size: 100px;
        font-family: 'Browallia New';
    }
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/

/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.9);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/
.portfolio-item img:hover { /* POSTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

/*================================
    VIDEO SECTION STYLES
==================================*/
#video-sec {
    color: #fff;
    text-align: center;
}

    #video-sec .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 300px;
        color: #fff;
    }

    #video-sec h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    }
/*================================
    CLIENTS SECTION STYLES
==================================*/
#clients {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;
}
    #clients img {
        opacity:0.5;
        cursor:pointer;
    }
        #clients img:hover {
            opacity:1;
        }
/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }




    /*magazine css */

    @font-face {
        font-family: 'icomoon';
        src: url("../fonts/icomoon/icomoon.eot?srf3rx");
        src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      html {
        background: #fff;
      }

      body {
        font-family: "Roboto", arial, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        color: #222;
        background: #fff;
      }
      body.fh5co-overflow {
        overflow-x: auto;
      }

      ::-webkit-selection {
        color: #fff;
        background: #f7c873;
      }

      ::-moz-selection {
        color: #fff;
        background: #f7c873;
      }

      ::selection {
        color: #fff;
        background: #f7c873;
      }

      a {
        color: #f7c873;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      a:hover, a:focus, a:active {
        color: #f3ac2b;
        outline: none;
        text-decoration: none;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display", times, serif;
        color: #000;
      }

      p {
        margin-bottom: 30px;
      }

      .btn {
        margin-right: 4px;
        margin-bottom: 4px;
        font-family: "Playfair Display", times, serif;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      .btn.btn-md {
        padding: 10px 20px !important;
      }
      .btn.btn-lg {
        padding: 18px 36px !important;
      }
      .btn:hover, .btn:active, .btn:focus {
        box-shadow: none !important;
        outline: none !important;
      }

      .btn-primary {
        background: #f7c873;
        color: #fff;
        border: 2px solid #f7c873;
      }
      .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background: #f6bf5b !important;
        border-color: #f6bf5b !important;
      }
      .btn-primary.btn-outline {
        background: transparent;
        color: #f7c873;
        border: 2px solid #f7c873;
      }
      .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
        background: #f7c873;
        color: #fff;
      }

      .btn-success {
        background: #58ca7e;
        color: #fff;
        border: 2px solid #58ca7e;
      }
      .btn-success:hover, .btn-success:focus, .btn-success:active {
        background: #45c46f !important;
        border-color: #45c46f !important;
      }
      .btn-success.btn-outline {
        background: transparent;
        color: #58ca7e;
        border: 2px solid #58ca7e;
      }
      .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
        background: #58ca7e;
        color: #fff;
      }

      .btn-info {
        background: #1784fb;
        color: #fff;
        border: 2px solid #1784fb;
      }
      .btn-info:hover, .btn-info:focus, .btn-info:active {
        background: #0477f4 !important;
        border-color: #0477f4 !important;
      }
      .btn-info.btn-outline {
        background: transparent;
        color: #1784fb;
        border: 2px solid #1784fb;
      }
      .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
        background: #1784fb;
        color: #fff;
      }

      .btn-warning {
        background: #fed330;
        color: #fff;
        border: 2px solid #fed330;
      }
      .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
        background: #fece17 !important;
        border-color: #fece17 !important;
      }
      .btn-warning.btn-outline {
        background: transparent;
        color: #fed330;
        border: 2px solid #fed330;
      }
      .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
        background: #fed330;
        color: #fff;
      }

      .btn-danger {
        background: #fb4f59;
        color: #fff;
        border: 2px solid #fb4f59;
      }
      .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
        background: #fa3641 !important;
        border-color: #fa3641 !important;
      }
      .btn-danger.btn-outline {
        background: transparent;
        color: #fb4f59;
        border: 2px solid #fb4f59;
      }
      .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
        background: #fb4f59;
        color: #fff;
      }

      .btn-outline {
        background: none;
        border: 2px solid gray;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
        box-shadow: none;
      }

      .form-control {
        box-shadow: none;
        background: transparent;
        border: 2px solid rgba(0, 0, 0, 0.1);
        height: 54px;
        font-size: 18px;
        font-weight: 300;
      }
      .form-control:active, .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #f7c873;
      }

      #fh5co-header {
        padding: 3em 3em;
        float: left;
        width: 100%;
      }
      @media screen and (max-width: 1200px) {
        #fh5co-header {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      @media screen and (max-width: 480px) {
        #fh5co-header {
          padding-bottom: 5em !important;
        }
      }
      #fh5co-header .fh5co-nav-toggle {
        position: absolute;
        top: 4.2em;
        left: 3em;
        z-index: 99;
      }
      @media screen and (max-width: 1200px) {
        #fh5co-header .fh5co-nav-toggle {
          top: 4em;
          left: 15px;
        }
      }
      @media screen and (max-width: 768px) {
        #fh5co-header .fh5co-nav-toggle {
          top: 2.5em;
          left: 15px;
        }
      }
      #fh5co-header .fh5co-social {
        position: absolute !important;
        right: 3em !important;
        top: 3.2em;
        z-index: 99;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      @media screen and (max-width: 1200px) {
        #fh5co-header .fh5co-social {
          right: 15px !important;
          top: 3.2em;
        }
      }
      @media screen and (max-width: 768px) {
        #fh5co-header .fh5co-social {
          right: 15px !important;
          top: 1.5em;
        }
      }
      @media screen and (max-width: 480px) {
        #fh5co-header .fh5co-social {
          right: inherit !important;
          left: inherit !important;
          top: 5em;
          left: 50% !important;
          margin-left: -50px;
        }
      }
      @media screen and (max-width: 768px) {
        #fh5co-header {
          padding-top: 1.5em;
          padding-bottom: 1.5em;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      #fh5co-header #fh5co-logo {
        text-align: center;
      }
      #fh5co-header #fh5co-logo a {
        color: #000;
      }
      #fh5co-header #fh5co-logo a sup {
        font-size: 20px;
        top: -20px;
      }

      .fh5co-post-prev,
      .fh5co-post-next {
        position: fixed;
        z-index: 999;
        top: 50%;
        height: 50px;
        margin-top: -25px;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      @media screen and (max-width: 768px) {
        .fh5co-post-prev,
        .fh5co-post-next {
          position: relative;
          text-align: center;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
        }
      }
      .fh5co-post-prev span,
      .fh5co-post-next span {
        vertical-align: base;
        width: 100px;
      }
      .fh5co-post-prev span i,
      .fh5co-post-next span i {
        top: 7px;
        position: relative;
        font-size: 30px;
        color: #000;
      }

      .fh5co-post-prev {
        left: 0;
        margin-left: -25px;
      }
      .fh5co-post-prev:hover {
        margin-left: 10px;
        color: #000;
      }
      @media screen and (max-width: 768px) {
        .fh5co-post-prev {
          margin-left: 15px;
          float: left;
        }
      }

      .fh5co-post-next {
        right: 0;
        margin-right: -25px;
      }
      .fh5co-post-next:hover {
        margin-right: 10px;
        color: #000;
      }
      @media screen and (max-width: 768px) {
        .fh5co-post-next {
          margin-right: 15px;
          float: right;
        }
      }

      .fh5co-post-entry.single-entry .fh5co-article-title {
        font-size: 80px;
      }
      @media screen and (max-width: 992px) {
        .fh5co-post-entry.single-entry .fh5co-article-title {
          font-size: 56px;
        }
      }
      @media screen and (max-width: 768px) {
        .fh5co-post-entry.single-entry .fh5co-article-title {
          font-size: 34px;
        }
      }
      .fh5co-post-entry article {
        text-align: center;
        float: left;
        margin-bottom: 110px;
        padding-left: 3em;
        padding-right: 3em;
      }
      @media screen and (max-width: 1200px) {
        .fh5co-post-entry article {
          margin-bottom: 80px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      @media screen and (max-width: 992px) {
        .fh5co-post-entry article {
          margin-bottom: 80px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      @media screen and (max-width: 768px) {
        .fh5co-post-entry article {
          margin-bottom: 40px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .fh5co-post-entry article a img {
        opacity: 1;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      .fh5co-post-entry article a:hover img {
        opacity: .4;
      }
      .fh5co-post-entry article figure {
        margin-bottom: 30px;
      }
      .fh5co-post-entry article h2 {
        font-family: "Playfair Display", times, serif;
        font-size: 34px;
        color: #000;
        margin-bottom: 30px;
      }
      .fh5co-post-entry article h2 a {
        color: #000;
      }
      @media screen and (max-width: 992px) {
        .fh5co-post-entry article h2 {
          font-size: 26px;
        }
      }
      @media screen and (max-width: 768px) {
        .fh5co-post-entry article h2 {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }
      .fh5co-post-entry article .fh5co-meta {
        font-size: 16px;
        font-family: "Roboto", arial, sans-serif;
        color: #999999;
        margin-bottom: 20px;
        display: block;
      }
      @media screen and (max-width: 480px) {
        .fh5co-post-entry article .fh5co-meta {
          margin-bottom: 10px;
        }
      }
      .fh5co-post-entry article .fh5co-meta.fh5co-date {
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .fh5co-post-entry article .content-article {
        padding-top: 4em;
      }
      .fh5co-post-entry article .content-article a {
        text-decoration: underline;
      }
      .fh5co-post-entry article .content-article blockquote {
        border-left: none;
        padding-left: 0;
      }
      .fh5co-post-entry article .content-article blockquote p {
        font-family: "Playfair Display", times, serif;
        font-size: 27px;
        font-style: italic;
        line-height: 1.5;
      }
      .fh5co-post-entry article .content-article blockquote p cite {
        padding-top: 20px;
        display: block;
        font-size: 16px;
        font-style: normal;
        color: gray;
      }
      .fh5co-post-entry article .fh5co-highlight {
        border: 4px solid #f2f2f2;
        padding: 30px;
        width: 100%;
        margin-bottom: 30px;
      }
      .fh5co-post-entry article .fh5co-highlight.right {
        float: right;
        margin-left: 30px;
      }
      .fh5co-post-entry article .fh5co-highlight.left {
        float: left;
      }
      .fh5co-post-entry article .fh5co-highlight h4 {
        font-size: 14px;
        letter-spacing: 2px;
        color: #b3b3b3;
        text-transform: uppercase;
        font-family: "Roboto", arial, sans-serif;
      }
      .fh5co-post-entry article .fh5co-highlight p {
        font-family: "Playfair Display", times, serif;
        color: #000;
        font-size: 20px;
      }

      .fh5co-social {
        padding: 0;
        margin: 30px 0 0 0;
        position: relative;
      }
      .fh5co-social li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
      }
      .fh5co-social li a {
        font-size: 20px;
        padding: 4px;
        color: #000;
      }

      figure figcaption {
        padding-top: 15px;
        font-size: 14px;
        color: #999999;
      }

      #fh5co-offcanvas {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 700px;
        z-index: 99999;
        overflow-y: auto;
        opacity: 0;
        display: none;
      }
      @media screen and (max-width: 768px) {
        #fh5co-offcanvas {
          padding-top: 30px;
          width: 270px;
        }
      }
      #fh5co-offcanvas .fh5co-close-offcanvas {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        width: 30px;
        overflow: hidden;
        color: #cccccc;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      @media screen and (max-width: 768px) {
        #fh5co-offcanvas .fh5co-close-offcanvas {
          top: 5px;
        }
      }
      #fh5co-offcanvas .fh5co-close-offcanvas:hover {
        width: 85px;
        color: #000;
      }
      #fh5co-offcanvas .fh5co-close-offcanvas > span {
        width: 100px;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
      }
      #fh5co-offcanvas .fh5co-close-offcanvas > span > span {
        top: 7px;
        position: relative;
        font-size: 18px;
        vertical-align: top;
      }
      #fh5co-offcanvas .fh5co-box {
        float: left;
        margin-bottom: 30px;
        width: 100%;
      }
      #fh5co-offcanvas .fh5co-menu,
      #fh5co-offcanvas .fh5co-bio {
        width: 50%;
        padding: 50px;
      }
      @media screen and (max-width: 768px) {
        #fh5co-offcanvas .fh5co-menu,
        #fh5co-offcanvas .fh5co-bio {
          width: 100%;
          padding: 30px;
        }
      }
      #fh5co-offcanvas .fh5co-bio {
        text-align: center;
        float: left;
      }
      #fh5co-offcanvas .fh5co-bio figure {
        text-align: center;
        display: block;
        margin-bottom: 30px;
      }
      #fh5co-offcanvas .fh5co-bio img {
        width: 180px;
        margin: 0 auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
      }
      #fh5co-offcanvas .fh5co-bio p {
        font-size: 16px;
      }
      #fh5co-offcanvas .heading {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #cccccc;
        margin-bottom: 30px;
      }
      #fh5co-offcanvas .fh5co-menu {
        float: right;
      }
      #fh5co-offcanvas .fh5co-menu ul {
        padding: 0;
        margin: 0;
      }
      #fh5co-offcanvas .fh5co-menu ul li {
        padding: 0;
        margin: 0 0 10px 0;
        list-style: none;
        display: block;
      }
      #fh5co-offcanvas .fh5co-menu ul li a {
        color: #000;
      }

      #fh5co-footer {
        padding: 3em 0;
        text-align: center;
      }

      .js .to-animate, .js
      .to-animate-2, .js
      .animate-box {
        opacity: 0;
      }

      .fh5co-nav-toggle {
        width: 25px;
        height: 25px;
        cursor: pointer;
        text-decoration: none;
      }
      .fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
        background: #f7c873;
      }
      .fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
        outline: none;
        border-bottom: none !important;
      }
      .fh5co-nav-toggle i {
        position: relative;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        width: 25px;
        height: 3px;
        color: #535659;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: #535659;
        transition: all .2s ease-out;
      }
      .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
        content: '';
        width: 25px;
        height: 3px;
        background: #535659;
        position: absolute;
        left: 0;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
      }

      .fh5co-nav-toggle i::before {
        top: -7px;
      }

      .fh5co-nav-toggle i::after {
        bottom: -7px;
      }

      .fh5co-nav-toggle:hover i::before {
        top: -10px;
      }

      .fh5co-nav-toggle:hover i::after {
        bottom: -10px;
      }

      .fh5co-nav-toggle.active i {
        background: transparent;
      }

      .fh5co-nav-toggle.active i::before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }

      .fh5co-nav-toggle.active i::after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }

      .fh5co-nav-toggle {
        position: absolute;
        top: 18px;
        left: 0;
        z-index: 21;
        padding: 6px 0 0 0;
        display: block;
        margin: 0 auto;
        display: block;
        height: 44px;
        width: 25px;
        border-bottom: none !important;
      }
      @media screen and (max-width: 768px) {
        .fh5co-nav-toggle {
          display: block;
        }
      }

      .fh5co-animated {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      .rp-b {
        padding-bottom: 40px;
      }

      .cp-l {
        padding-left: 50px;
      }
      @media screen and (max-width: 992px) {
        .cp-l {
          padding-left: 15px;
        }
      }

      .cp-r {
        padding-right: 50px;
      }
      @media screen and (max-width: 992px) {
        .cp-r {
          padding-right: 15px;
        }
      }

      @media screen and (max-width: 480px) {
        .col-xxs-12 {
          width: 100%;
          float: none;
        }
      }

      /*# sourceMappingURL=style.css.map */



      /* team style */

      .team{
        padding:75px 0;
    }
    h6.description{
        font-weight: bold;
        letter-spacing: 2px;
        color: #999;
        border-bottom: 1px solid rgba(0, 0, 0,0.1);
        padding-bottom: 5px;
    }
    .profile{
        margin-top: 25px;
    }
    .profile h1{
        font-weight: normal;
        font-size: 20px;
        margin:10px 0 0 0;
    }
    .profile h2{
        font-size: 14px;
        font-weight: lighter;
        margin-top: 5px;
    }
    .profile .img-box{
        opacity: 1;
        display: block;
        position: relative;
    }
    .profile .img-box:after{
        content:"";
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .img-box ul{
        position: absolute;
        z-index: 2;
        bottom: 50px;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        height: 0px;
        margin:0px;
        opacity: 0;
    }
    .profile .img-box:after, .img-box ul, .img-box ul li{
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .img-box ul i{
        font-size: 20px;
        letter-spacing: 10px;
    }
    .img-box ul li{
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid #88C425;
        margin: 2px;
        padding: 5px;
        display: inline-block;
    }
    .img-box a{
        color:#fff;
    }
    .img-box:hover:after{
        opacity: 1;
    }
    .img-box:hover ul{
        opacity: 1;
    }
    .img-box ul a{
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .img-box a:hover li{
        border-color: #fff;
        color: #88C425;
    }
    a{
        color:#88C425;
    }
    a:hover{
        text-decoration:none;
        color:#519548;
    }
    i.red{
        color:#BC0213;
    }



    /* about section */


    .about-section {
        padding: 4em 0;
    }
    .site-title  {
        padding: 2em 0;
    }
    .site-title h3 {
        font-size: 3.5em;
        color: #14B9D5;
        font-family: 'Marvel-Regular';
        font-weight: 700;
    }
    .site-title p {
        font-size: 1.1em;
        color: #333333;
        line-height: 1.8em;
        margin-top: 0.5em;
    }

    .about-inner-column h4 {
        font-size: 2.5em;
        color: #FFD001;
        font-family: 'Marvel-Regular';
    }
    .about-inner-column p {
        font-size: 1.1em;
        color: #333333;
        line-height: 1.8em;
        margin: 1em 0 0;
    }

    .about-inner-column ul li a {
        color: #333333;
        font-size: 1.1em;
        padding-left: 2em;
    }
    .about-right img {
        width: 100%;
    }


    /* carousel */

    .fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}


/* navbar color */

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #17d0d5;
}



.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        /* background-color: #222; */
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
@media screen and (max-width:768px){
.sticky-container{
  display:none;
}
}


/* sticky social media */
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}
